.container-fluid{
  padding: 43px;
}

#error{
  color: red;
  margin: 20px 0px;
}

button{
  margin-top: 20px;
}

#result {
  display: flex;
  flex-flow: row wrap;
}
.card{
  margin: 10px;
  width: 18rem;
  color: white;
}
