.container-fluid{
  padding: 43px;
}

#error{
  color: red;
  margin: 20px 0px;
}
button{
  margin-top: 20px;
}

<<<<<<< HEAD

#result{
	display: flex;
	flex-flow: row wrap;
}

.card{
	margin: 10px;
	width: 18rem;
}
=======
#result {
  display: flex;
  flex-flow: row wrap;
}
.card{
  margin: 10px;
  width: 18rem;
  color: white;
}
>>>>>>> 83382fc99837919cedc7101e8211a144cd37e5f2
